<p>
  <strong>
  <%= comment.commenter + "さん" %>
  </strong>
</p>

<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'このコメントを削除する', [comment.article, comment],
               method: :delete,
               data: { confirm: '本当にコメントを削除してもよろしいですか?' } %>
</p>
