<h1>platikaノート</h1>
<blockquote>
<footer>開発の中で新しく学んだことなど知見を書き溜めていきます</footer>
</blockquote>
<button class="btn btn-primary btn-lg">
<%= link_to '記事一覧へ', controller: 'articles' %>
</button>
<button class="btn btn-info btn-lg">
<%= link_to '新規投稿', new_article_path %>
</button>
